<div class="menu_show">
<% @countries.each do |country| %>

  <%= link_to("Show #{country.name}", country_path(country) )%>

  <%= button_to('Destroy Country', country_path(country), method: :delete, data: {confirm: 'Destroy them? Are you sure?'}) %>

  <%= link_to('Edit Country', edit_country_path(country)) %>
  <br>
  <br>
<% end %>
</div>